@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin-left: 0;
    margin-right: 0;
}
/*navbar*/
header{
    height: 61px;
    border-bottom: 2px solid darkblue;
}
/*Header start*/
header nav{
    display: flex;
    justify-content:space-between;
    /*birbirinden olabildiğince uzaklaştır*/
    align-items: center;
    /* dikeyde aynı hizada*/
    margin-top: -7px;
    
}
header nav .Home a {
    text-decoration: none;
    color: white;
    text-emphasis: none;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
    margin: 10px;
    margin-bottom: 20px;
}

header nav .Home a:hover {
    color: red;
    text-decoration: none;
    transition: color .25s ease;
}


nav ul {
    list-style: None;
    /*bu kod listenin başına konan sayacı kaldırır*/
    display: flex;
    /*yan yana dizer*/
    column-gap: 30px;
    /*itemlerin arasına boşluk verir*/
}

nav ul a {
    color: white;
    text-decoration: none;
    transition: color .25s ease;
}

nav .logo a:hover {
    color: red;

}

nav ul a:hover{
    color: red;
}
nav{
    background-color:rgba(0, 0, 0, 0.767);
}
nav .menu{
    display: flex;
    align-items: center;
    transition: color .25s ease;
    column-gap: 48px;
    margin: 1px;
    margin-right: 7px;
}
nav .menu .menu-button {
    color: aquamarine;
    text-decoration: none;
    background-color: rgb(255, 255, 255,0.08);
    padding: 8px 24px;
    border-radius: 56px;
    /*butonun dikdörtgen olan kenarlarına kavis verir*/
    transition: color .25s ease;
}
nav .menu .menu-button:hover {
    background-color: darkblue;
    color: white;
}
.menu ul{
    column-gap: 20px;
}
.sosyal{
    background-color:rgb(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    border-color: white;
    border-radius: 20px;
    background-position: center;
    margin-left: 325px;
    margin-right: 150px;
    margin-top: 250px;
 

}

.sosyal li{
    color: white;
    align-items: center;
    float: left;
    margin-left: 50 px;
    margin-right: 50 px;
   
}
.sosyal .whatsapp{
margin-left: 50px;
margin-right: 50px;
}
