@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,700&display=swap');
body{
    
    font-family: 'Poppins', sans-serif;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    

}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(#ff9966, #ff5e62);
    background-size: cover;
}
.Home{
    text-decoration: none;
}


a{
    color: white;
}

.container{
    width: 100%;

}

.container h1{
    width: 100%;
    margin-top: 2px;
    
}

header{
    height: 60px;
    border-bottom: 2px solid darkblue;
}
/*navbar*/
header{
    height: 64px;
    border-bottom: 2px solid darkblue;
}
/*Header start*/
header nav{
    display: flex;
    justify-content:space-between;
    /*birbirinden olabildiğince uzaklaştır*/
    align-items: center;
    /* dikeyde aynı hizada*/
    padding: 15px;
    
}

header nav .Home a {
    text-decoration: none;
    color: white;
    text-emphasis: none;
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

header nav .Home a:hover {
    color: red;
    text-decoration: none;
    transition: color .25s ease;
}


nav ul {
    list-style: None;
    /*bu kod listenin başına konan sayacı kaldırır*/
    display: flex;
    /*yan yana dizer*/
    column-gap: 30px;
    /*itemlerin arasına boşluk verir*/
}

nav ul a {
    color: white;
    text-decoration: none;
    transition: color .25s ease;
}

nav .logo a:hover {
    color: red;

}

nav ul a:hover{
    color: red;
}
nav{
    background-color:rgba(0, 0, 0, 0.692);
}
nav .menu{
    display: flex;
    align-items: center;
    transition: color .25s ease;
    column-gap: 48px;
    margin: 1px;
}
nav .menu .menu-button {
    color: aquamarine;
    text-decoration: none;
    background-color: rgb(255, 255, 255,0.08);
    padding: 8px 24px;
    border-radius: 56px;
    /*butonun dikdörtgen olan kenarlarına kavis verir*/
    transition: color .25s ease;
}
nav .menu .menu-button:hover {
    background-color: darkblue;
    color: white;
   /*butonun dikdörtgen olan kenarlarına kavis verir*/
}
.menu ul{
    column-gap: 20px;
}


.paragraf{
    background-color:rgba(255, 255, 255, 0);
    color: rgb(255, 255, 255);
    margin-left: 600px;
    margin-right: 250px;
    border: solid;
    border-color: white;
    border-radius: 20px;
    width: 150px;
    height: 70px;
    display: flex;
 

}

button{
    margin-left: 645px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 12px ;
    padding-top: 12px ;
    border-radius: 9px;
    border: 0px;
}
